In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
file_path = '/content/utilization.json'
df = spark.read.json(file_path)

In [ ]:
#count the number of rows in the dataset
df.count()

500000

In [ ]:
df.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

# Basic DataFrame Operations

In [ ]:
df.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [ ]:
# sample the dataset top work with subsets of your dataset.
#syntax sample(withReplacement, fraction, )
df_sample = df.sample(False,fraction = 0.1,)

In [ ]:
df_sample.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|            0.4|03/05/2019 10:21:14|       0.55|      100|           52|
|           0.67|03/05/2019 10:56:14|       0.54|      100|           57|
|            0.5|03/05/2019 12:41:14|       0.38|      100|           44|
|           0.56|03/05/2019 13:46:14|       0.42|      100|           49|
|           0.39|03/05/2019 15:01:14|       0.52|      100|           48|
|           0.54|03/05/2019 16:11:14|       0.37|      100|           59|
|           0.33|03/05/2019 16:16:14|       0.49|      100|           52|
|           0.29|03/05/2019 16:21:14|       0.53|      100|           43|
|           0.54|03/05/2019 16:31:14|       0.68|      100|           61|
|           0.34|03/05/2019 17:26:14|       0.61|      100|           52|
|           0.45|03/05/2019 17:36:14|       0.33|      100|           38|
|           0.61|03/05/2019 19:01:14|       0.45|      100|           38|
|           0.37|03/05/2019 20:06:14|       0.55|      100|           55|
|           0.66|03/05/2019 20:41:14|       0.64|      100|           66|
|            0.4|03/05/2019 21:51:14|       0.57|      100|           40|
|           0.32|03/05/2019 22:16:14|       0.42|      100|           60|
|           0.48|03/05/2019 23:41:14|       0.48|      100|           47|
|           0.27|03/06/2019 00:26:14|       0.67|      100|           60|
|           0.54|03/06/2019 01:51:14|       0.46|      100|           50|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [ ]:
#sort by eventdatetime

df_sort = df_sample.sort("event_datetime")
df_sort.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.64|03/05/2019 08:06:26|       0.55|      107|           56|
|           0.69|03/05/2019 08:06:36|       0.38|      113|           71|
|           0.71|03/05/2019 08:06:43|       0.61|      117|           60|
|           0.42|03/05/2019 08:06:56|       0.37|      125|           58|
|           0.81|03/05/2019 08:07:12|       0.15|      133|           78|
|           0.69|03/05/2019 08:07:28|       0.24|      141|           67|
|           0.76|03/05/2019 08:11:19|       0.12|      103|           81|
|           0.32|03/05/2019 08:11:24|       0.56|      106|           59|
|           0.78|03/05/2019 08:11:34|       0.14|      112|           83|
|           0.95|03/05/2019 08:12:12|       0.28|      133|           90|
|           0.34|03/05/2019 08:12:13|       0.64|      134|           73|
|           0.33|03/05/2019 08:12:39|       0.34|      147|           43|
|            0.9|03/05/2019 08:12:44|       0.34|      149|           85|
|           0.55|03/05/2019 08:16:31|       0.36|      110|           78|
|           0.53|03/05/2019 08:16:46|       0.52|      119|           57|
|           0.89|03/05/2019 08:16:50|       0.49|      121|           90|
|           0.42|03/05/2019 08:17:01|       0.44|      128|           50|
|           0.75|03/05/2019 08:17:12|       0.17|      133|           78|
|           0.48|03/05/2019 08:17:25|       0.36|      140|           62|
|           0.48|03/05/2019 08:17:28|       0.31|      141|           68|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows